<div class="container my-4 col-md-6">
    <form action="#">
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname">
        </div>
        <div class="mb-3">
            <label for="lanem" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>
        
        <button class="btn btn-primary" type="button" >Signup</button>
    </form>
</div>