<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Angular Udemy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto !important;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="javascript: void(0)" (click)="onSelectHome('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0)" (click)="onSelectLR('local-reference')">Local Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0)" (click)="onSelectDir('directtives')">Directtives</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>